BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Allman
Cpp11BracedListStyle: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
InsertBraces: true
ColumnLimit: 0
SortIncludes: Never
PointerAlignment: Left
ReferenceAlignment: Left
FixNamespaceComments: false
